:root{
    /*diego*/
     --body-color: black;
    --bg-color: rgb(0, 195, 255);
    --text-color:white;
    --hover-color:rgb(3, 115, 150);
    /*diego*/
    /*karine*/
    --bg-colo-karine: rgb(160, 4, 4);
    --text-color-karine:white;
    --hover-color-karine:rgb(110, 6, 6);
    /*karine*/
    /*julia*/
    --bg-color-julia: rgb(92, 7, 172);
    --text-color-julia:white;
    --hover-color-julia:rgb(60, 2, 114);
    /*julia*/
    /*kaua*/
    --bg-color-kaua: rgb(59, 107, 197);
    --text-color-kaua:white;
    --hover-color-kaua:rgb(6, 45, 116);
    /*kaua*/
}

*{
    margin: 0;
    font-family: "poppins";
    font-family: "Poppins", sans-serif;
    color: white;
}

body{
    background-color: var(--body-color);
    
    
}

/*pagina principal*/
.container-principal{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
    width: 1280px;
    box-shadow: 2px 2px 12px black;
    border-radius: 20px;
    

}
.container-principal h1{
    font-size: 70px;
}

.container-paginas{
    display: flex;
   align-items: center;
   width: 100%;

   padding: 20px;
   margin: 10px 0;
   
  

}

.container-paginas h2{
    text-align: center;
    width: 50%;
    font-size: 70px;
}
.container-paginas h2 a{
    text-decoration: none;
}

.img-paginas{
    width: 500px;
   height: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px black;
    margin: 20px;
}
#diego a{
    color: var(--bg-color);
}
#karine a{
    color: var(--bg-colo-karine);
}
#julia a{
    color: var(--bg-color-julia);
}
#kaua a
{
    color: var(--bg-color-kaua);
}

/*fim pagina principal*/

.container{
    margin: auto;
    
    width: 50%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: white;
    
    
}


.container img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px 12px black;
}


.container p{
    padding: 20px;
   
   
}
.paginas{
    display: flex;
}
.paginas-link{
    padding: 10px !important;
    margin-bottom: 30px;
     color: var(--text-color);
   
}

.paginas-link a{
    color: var(--bg-color);
    text-decoration: none;
}
table{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px; 
 
}


/*pagina diego*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#body-diego{
    display:flex;
    justify-content: center;
    
}
.tema{
    border: 2px solid var(--bg-color);
    width: 30px;
    border-radius: 50%;
    height: 30px;
    margin: 20px;
    background-image: url("./img/brilho-do-sol.png");
    background-position: center;
    background-size: cover;
    padding: 10px;
    cursor:pointer;
}

#container{
    box-shadow: 0px 0px 14px 2px var(--bg-color);
    width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    flex-direction:row-reverse;

}
.apresentacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    height: 700px;
}
.apresentacao h1{
    width: 0;
    text-align: center;
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 20px; 
    font-family: "VT323", monospace;
    animation: typing 8s steps(30) infinite;
    overflow: hidden; 
    white-space: nowrap;
    border-right: 3px solid var(--bg-color);
}
.apresentacao span{
    color: var(--bg-color);
    font-family: "VT323", monospace;
}
.apresentacao-desc{
    
    color: var(--text-color);
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}
.apresentacao_botoes{
    display: flex;
}
.botoes img{
    width: 30px;
    margin-right: 10px;

}
.botoes{
    background-color: var(--bg-color);
    padding: 10px 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    transition: ease-in-out 0.5s;font-weight: bold;
    
}
.botoes:hover{
    background-color: var(--hover-color);
    
}
.imagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.imagem img{
    width: 250px;
    height: 340px;
    z-index: 3;
    border-radius: 20px;
   
}
.imagem_shadow{
    z-index: 1;
    position: absolute;
    right: 180px;
    top: 170px;
    width: 250px;
    height: 340px;
    border-radius: 20px;
    box-shadow:  0px 0px 2px 3px var(--bg-color);
}
body.claro {
    animation: lightTheme 1s forwards;
}



@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }

}

@keyframes lightTheme {
    0% {
        --body-color: black;
        --bg-color: rgb(0, 195, 255);
        --text-color: white;
        --hover-color: rgb(3, 115, 150);
    }
    100% {
        --body-color: white;
        --bg-color: rgb(0, 195, 255);
        --text-color: black;
        --hover-color: rgb(200, 200, 200);
    }
}


/*fim pagina diego*/

/*pagina-kaua*/
#container-kaua{
    box-shadow: 2px 2px 12px var(--bg-color-kaua);
}

#img-kaua{
    border-radius: 20px;
}

.links-kaua a{
    color: var(--bg-color-kaua);
}
.negrito{
    color: var(--bg-color-kaua);
}
/*fim pagina-kaua*/

/*pagina karine*/
#container-karine{
    box-shadow: 2px 2px 12px var(--bg-colo-karine);
}

.links-karine a{
     color: var(--bg-colo-karine);
}
#cor{
    color: var(--bg-colo-karine)
}
.botao-insta{
    background-color: var(--bg-colo-karine);
    padding: 10px 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
}
.botao-insta>img{
    width: 30px;
    margin-right: 10px;

}


/*fim pagina karine*/
/*pagina julia*/
#container-julia{
    box-shadow: 2px 2px 12px var(--bg-color-julia);
}
#img-julia{
    width: 200px;
    border-radius: 30px;
}
.links-julia a{
    color: var(--bg-color-julia);
}
#cor-julia{
    color: var(--bg-color-julia);
}

/*fim pagina julia*/


@media (max-width: 768px) {
    .container-principal {
        width: 90%;
    }

    .container-principal h1 {
        font-size: 50px;
    }

    .container-paginas {
        flex-direction: column;
    }

    .container-paginas h2 {
        width: 100%;
        font-size: 50px;
    }

    .img-paginas {
        width: 100%;
        height: auto;
        margin: 0;
        box-shadow: 0 0 12px white;
    }
    

    .container {
        width: 90%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .container h2 {
        font-size: 30px;
    }

    .paginas-link {
        padding: 5px !important;
    }

    #container {
        width: 90%;
        top: 10%;
        flex-direction: column-reverse;
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: column;
    }
    .imagem img{
        margin-top: 20px;
    }

    .apresentacao, .imagem {
        width: 100%;
    }

    .apresentacao h1 {
        font-size: 40px;
    }

    .apresentacao-desc {
        width: 90%;
    }

    .botoes {
        padding: 5px 20px;
        margin: 5px;
    }

    .imagem_shadow {
        right: 10%;
        top: 50px;
    }

    #img-julia {
        width: 50%;
    }
     .links-par{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-paginas{
    
        text-align: center;
    }
    
    
}

